@nilmod {
	/* There is no id field. The filename defines the id of the mod. */
	name: "NilMenu";
	description: "A basic mod menu for NilLoader";
	authors: "GetCmdRolled";
	version: "${version}";
}

entrypoints {
	/* premain is the only entrypoint defined by NilLoader itself. */
	premain: "net.scoobis.nilmenu.NilMenuPremain";
}
